<h3>PRODUCTS</h3>
<ul>
<ul>
  <li>Product A100 <button (click)="onNavigateToProductDetail('A100')">Detalle</button></li>
  <li>Product A200 <button (click)="onNavigateToProductDetail('A200')">Detalle</button></li>
  <li>Product A300 <button (click)="onNavigateToProductDetail('A300')">Detalle</button></li>
  <li>Product A400 <button (click)="onNavigateToProductDetail('A400')">Detalle</button></li>
  <li>Product A500 <button (click)="onNavigateToProductDetail('A500')">Detalle</button></li>
</ul>
</ul> 
